(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    waves: Some((
        source: File("C:\\Users\\pasca\\OneDrive\\Dokumente\\Elektronik\\Projekte\\t9k-baseboard\\tb_ram.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "tb_ram",
                "dut",
            ],
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (45),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (48),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (49),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (50),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (51),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (53),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (46),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (54),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (55),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (56),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (57),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (47),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (31),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (32),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (33),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (34),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (35),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (36),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (37),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (38),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (40),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (39),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (41),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (42),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (44),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (43),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                        ],
                    ),
                    name: "reset_i",
                ),
                color: None,
                background_color: None,
                display_name: "reset_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (31): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[2]",
                ),
                color: None,
                background_color: None,
                display_name: "[2] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (39): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[11]",
                ),
                color: None,
                background_color: None,
                display_name: "[11] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (57): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                        ],
                    ),
                    name: "internal_address",
                ),
                color: None,
                background_color: None,
                display_name: "internal_address [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[1]",
                ),
                color: None,
                background_color: None,
                display_name: "[1] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (28): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (46): Divider((
                color: None,
                background_color: None,
                name: Some("DUT internal signals"),
            )),
            (50): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                        ],
                    ),
                    name: "write_enable_i",
                ),
                color: None,
                background_color: None,
                display_name: "write_enable_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (53): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                        ],
                    ),
                    name: "data_out_o",
                ),
                color: None,
                background_color: None,
                display_name: "data_out_o [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[3]",
                ),
                color: None,
                background_color: None,
                display_name: "[3] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (55): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                        ],
                    ),
                    name: "internal_write_enable",
                ),
                color: None,
                background_color: None,
                display_name: "internal_write_enable",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[0]",
                ),
                color: None,
                background_color: None,
                display_name: "[0] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (37): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[8]",
                ),
                color: None,
                background_color: None,
                display_name: "[8] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (34): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[5]",
                ),
                color: None,
                background_color: None,
                display_name: "[5] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (49): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                        ],
                    ),
                    name: "read_enable_i",
                ),
                color: None,
                background_color: None,
                display_name: "read_enable_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (56): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                        ],
                    ),
                    name: "internal_read_enable",
                ),
                color: None,
                background_color: None,
                display_name: "internal_read_enable",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (42): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[13]",
                ),
                color: None,
                background_color: None,
                display_name: "[13] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (47): Divider((
                color: None,
                background_color: None,
                name: Some("RAM contents of DUT"),
            )),
            (43): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[15]",
                ),
                color: None,
                background_color: None,
                display_name: "[15] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (40): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[10]",
                ),
                color: None,
                background_color: None,
                display_name: "[10] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (48): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                        ],
                    ),
                    name: "address_i",
                ),
                color: None,
                background_color: None,
                display_name: "address_i [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (54): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                        ],
                    ),
                    name: "is_selected",
                ),
                color: None,
                background_color: None,
                display_name: "is_selected",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                        ],
                    ),
                    name: "tb_finished",
                ),
                color: None,
                background_color: None,
                display_name: "tb_finished",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (36): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[7]",
                ),
                color: None,
                background_color: None,
                display_name: "[7] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (41): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[12]",
                ),
                color: None,
                background_color: None,
                display_name: "[12] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (38): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[9]",
                ),
                color: None,
                background_color: None,
                display_name: "[9] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (44): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[14]",
                ),
                color: None,
                background_color: None,
                display_name: "[14] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (51): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                        ],
                    ),
                    name: "data_in_i",
                ),
                color: None,
                background_color: None,
                display_name: "data_in_i [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                        ],
                    ),
                    name: "clk_i",
                ),
                color: None,
                background_color: None,
                display_name: "clk_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (45): Divider((
                color: None,
                background_color: None,
                name: Some("DUT Ports"),
            )),
            (33): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[4]",
                ),
                color: None,
                background_color: None,
                display_name: "[4] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (35): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_ram",
                            "dut",
                            "ram_data",
                        ],
                    ),
                    name: "[6]",
                ),
                color: None,
                background_color: None,
                display_name: "[6] [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 57,
        viewports: [
            (
                curr_left: (0.0876439363458209),
                curr_right: (1.0260919318636508),
                target_left: (-0.2),
                target_right: (1.2),
                move_start_left: (-0.2),
                move_start_right: (1.2),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            122850838,
        ])),
        markers: {},
        focused_item: Some((16)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (29),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: NanoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)