(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    waves: Some((
        source: File("C:\\Users\\pasca\\OneDrive\\Dokumente\\Elektronik\\Projekte\\t9k-baseboard\\examples\\04_simple_cpu\\tb_soc_io.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "tb_soc_io",
                "dut",
                "overture_gpio",
            ],
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (32),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (34),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (35),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (37),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (38),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (36),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (31),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                        ],
                    ),
                    name: "io_data_from_ram",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_from_ram [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Divider((
                color: None,
                background_color: None,
                name: Some("soc_io internal signals"),
            )),
            (34): Divider((
                color: None,
                background_color: None,
                name: Some("RAM internal signals"),
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                        ],
                    ),
                    name: "io_data_write",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_write [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (26): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (4): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                            "overture_delay_us",
                        ],
                    ),
                    name: "is_selected",
                ),
                color: None,
                background_color: None,
                display_name: "…overture_delay_us.is_selected",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                            "overture_ram",
                        ],
                    ),
                    name: "is_selected",
                ),
                color: None,
                background_color: None,
                display_name: "…overture_ram.is_selected",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                        ],
                    ),
                    name: "io_data_from_delay_us",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_from_delay_us [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (35): Divider((
                color: None,
                background_color: None,
                name: Some("GPIO internal signal"),
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                        ],
                    ),
                    name: "io_address",
                ),
                color: None,
                background_color: None,
                display_name: "io_address [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                            "overture_delay_us",
                        ],
                    ),
                    name: "internal_read_enable",
                ),
                color: None,
                background_color: None,
                display_name: "…overture_delay_us.internal_read_enable",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                        ],
                    ),
                    name: "leds",
                ),
                color: None,
                background_color: None,
                display_name: "leds [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                        ],
                    ),
                    name: "io_data_from_gpio",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_from_gpio [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                            "overture_ram",
                        ],
                    ),
                    name: "internal_read_enable",
                ),
                color: None,
                background_color: None,
                display_name: "…overture_ram.internal_read_enable",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (36): Divider((
                color: None,
                background_color: None,
                name: Some("Delay_us internal signals"),
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                        ],
                    ),
                    name: "joystick",
                ),
                color: None,
                background_color: None,
                display_name: "joystick [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (18): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                        ],
                    ),
                    name: "reset",
                ),
                color: None,
                background_color: None,
                display_name: "reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                            "overture_gpio",
                        ],
                    ),
                    name: "is_selected",
                ),
                color: None,
                background_color: None,
                display_name: "…overture_gpio.is_selected",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                            "overture_delay_us",
                        ],
                    ),
                    name: "delay_reg",
                ),
                color: None,
                background_color: None,
                display_name: "delay_reg [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                        ],
                    ),
                    name: "io_data_read_enable",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_read_enable",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                        ],
                    ),
                    name: "io_data_write_enable",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_write_enable",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                        ],
                    ),
                    name: "io_data_from_delay_ms",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_from_delay_ms [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                        ],
                    ),
                    name: "tb_finished",
                ),
                color: None,
                background_color: None,
                display_name: "tb_finished",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (32): Divider((
                color: None,
                background_color: None,
                name: Some("soc_io port signals"),
            )),
            (24): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                        ],
                    ),
                    name: "io_data_from_delay_s",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_from_delay_s [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                            "overture_delay_us",
                        ],
                    ),
                    name: "internal_write_enable",
                ),
                color: None,
                background_color: None,
                display_name: "…overture_delay_us.internal_write_enable",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                            "overture_ram",
                        ],
                    ),
                    name: "internal_write_enable",
                ),
                color: None,
                background_color: None,
                display_name: "…overture_ram.internal_write_enable",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (37): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                            "overture_gpio",
                        ],
                    ),
                    name: "output_reg",
                ),
                color: None,
                background_color: None,
                display_name: "output_reg [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                            "overture_ram",
                        ],
                    ),
                    name: "internal_address",
                ),
                color: None,
                background_color: None,
                display_name: "internal_address [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (31): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                            "overture_delay_us",
                        ],
                    ),
                    name: "counter_reg",
                ),
                color: None,
                background_color: None,
                display_name: "counter_reg [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                        ],
                    ),
                    name: "io_data_read",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_read [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (38): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_io",
                            "dut",
                            "overture_gpio",
                        ],
                    ),
                    name: "joystick_debounced",
                ),
                color: None,
                background_color: None,
                display_name: "joystick_debounced [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 38,
        viewports: [
            (
                curr_left: (-0.08433441643014515),
                curr_right: (0.33733766572058055),
                target_left: (0.7056964146289465),
                target_right: (0.7607458338322892),
                move_start_left: (0.7056964146289465),
                move_start_right: (0.7607458338322892),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            947437169,
        ])),
        markers: {},
        focused_item: Some((28)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: FemtoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)