(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    waves: Some((
        source: File("C:\\Users\\pasca\\OneDrive\\Dokumente\\Elektronik\\Projekte\\t9k-baseboard\\examples\\04_simple_cpu\\tb_soc_top.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "tb_soc_top",
                "dut",
                "overture_iomap",
            ],
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (41),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (40),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (44),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (45),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (46),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (47),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (48),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (49),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (50),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (51),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (52),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (53),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (54),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (55),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (56),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (57),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (58),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (59),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (61),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (62),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (63),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (60),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (48): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_cpu",
                        ],
                    ),
                    name: "io_data_write_o",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_write_o [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                        ],
                    ),
                    name: "joystick_unsanitized",
                ),
                color: None,
                background_color: None,
                display_name: "joystick_unsanitized [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Divider((
                color: None,
                background_color: None,
                name: Some("Overture SoC Top  Ports"),
            )),
            (55): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_iomap",
                        ],
                    ),
                    name: "uart_rx",
                ),
                color: None,
                background_color: None,
                display_name: "uart_rx",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (25): Divider((
                color: None,
                background_color: None,
                name: Some("Overture System"),
            )),
            (60): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_iomap",
                        ],
                    ),
                    name: "io_data_read_enable",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_read_enable",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                        ],
                    ),
                    name: "uart_tx",
                ),
                color: None,
                background_color: None,
                display_name: "uart_tx",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (59): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_iomap",
                        ],
                    ),
                    name: "io_address",
                ),
                color: None,
                background_color: None,
                display_name: "io_address [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                        ],
                    ),
                    name: "reset_unsanitized",
                ),
                color: None,
                background_color: None,
                display_name: "reset_unsanitized",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (56): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_iomap",
                        ],
                    ),
                    name: "uart_tx",
                ),
                color: None,
                background_color: None,
                display_name: "uart_tx",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (61): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_iomap",
                        ],
                    ),
                    name: "io_data_read",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_read [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                        ],
                    ),
                    name: "uart_rx_unsanitized",
                ),
                color: None,
                background_color: None,
                display_name: "uart_rx_unsanitized",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (49): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_cpu",
                        ],
                    ),
                    name: "io_data_write_enable_o",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_write_enable_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                        ],
                    ),
                    name: "rgbled_ser",
                ),
                color: None,
                background_color: None,
                display_name: "rgbled_ser",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (47): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_cpu",
                        ],
                    ),
                    name: "io_data_read_i",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_read_i [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (53): Divider((
                color: None,
                background_color: None,
                name: Some("SoC IO ports"),
            )),
            (44): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_cpu",
                        ],
                    ),
                    name: "memory_data_i",
                ),
                color: None,
                background_color: None,
                display_name: "memory_data_i [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (58): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_iomap",
                        ],
                    ),
                    name: "rgbled_ser",
                ),
                color: None,
                background_color: None,
                display_name: "rgbled_ser",
                display_name_type: Local,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (40): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                        ],
                    ),
                    name: "cpu_halted_n",
                ),
                color: None,
                background_color: None,
                display_name: "cpu_halted_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (13): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (4): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (63): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_iomap",
                        ],
                    ),
                    name: "io_data_write_enable",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_write_enable",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (50): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_cpu",
                        ],
                    ),
                    name: "io_data_read_enable_o",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_read_enable_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (45): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_cpu",
                        ],
                    ),
                    name: "memory_address_o",
                ),
                color: None,
                background_color: None,
                display_name: "memory_address_o [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (51): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_cpu",
                        ],
                    ),
                    name: "cpu_halted_o",
                ),
                color: None,
                background_color: None,
                display_name: "cpu_halted_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (52): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (54): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_iomap",
                        ],
                    ),
                    name: "joystick",
                ),
                color: None,
                background_color: None,
                display_name: "joystick [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                        ],
                    ),
                    name: "tb_finished",
                ),
                color: None,
                background_color: None,
                display_name: "tb_finished",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (57): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_iomap",
                        ],
                    ),
                    name: "leds",
                ),
                color: None,
                background_color: None,
                display_name: "leds [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (41): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                        ],
                    ),
                    name: "leds_n",
                ),
                color: None,
                background_color: None,
                display_name: "leds_n [4:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (62): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_iomap",
                        ],
                    ),
                    name: "io_data_write",
                ),
                color: None,
                background_color: None,
                display_name: "io_data_write [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (46): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_soc_top",
                            "dut",
                            "overture_cpu",
                        ],
                    ),
                    name: "io_address_o",
                ),
                color: None,
                background_color: None,
                display_name: "io_address_o [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 63,
        viewports: [
            (
                curr_left: (-0.11999999999999966),
                curr_right: (1.2799999999999998),
                target_left: (-0.0905069754120621),
                target_right: (0.200606780287382),
                move_start_left: (-0.0905069754120621),
                move_start_right: (0.200606780287382),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            2870317460,
            2548,
        ])),
        markers: {},
        focused_item: Some((31)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (14),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: MilliSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)